
* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    background-color: rgba(73, 143, 143,0.5);
}

.header-con {
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;

}

.logocon
.search {
    flex: 1;
}


/* SEARCH */

header .search {
    justify-content: flex-end;
}


header .search {
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder {
    color: #fff;
}

header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

/* SEARCH END  */



.header-nav {
    flex: 3;
    margin: auto;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}



.header-items {
    font-size: 22px;
    position: relative;
}

.header-item:hover {
    cursor: pointer;
}

.header-item-1:hover ~ .header-item-1-dropdown,
.header-item-2:hover ~ .header-item-2-dropdown,
.header-item-3:hover ~ .header-item-3-dropdown {
    display: block;
    cursor: pointer;
}

.header-item-2-dropdown,
.header-item-3-dropdown,
.header-item-1-dropdown {
    display: none;
    position: absolute;
    left: -70%;
    top: -50%;
    width: 100px;
    background: #fff;
    z-index: 1;
    transform: translateY(30%);
    animation: zoomIn .4s linear;
}


ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

.logocon img {
    width: 40%;
    height: auto;
}






/* SLIDER  */

.slider {
    width: 100%;
    height: 420px;
}
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    position: absolute;
    background: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 30px 50px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    animation-name: zoomin;
    animation-duration: 2s;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 10px #423b33;
}



@keyframes zoomin {
    0%{
        top: 80%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: 60%;
    }
}

@keyframes zoomIn {
    0%{
        top: -100%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: -50%;
    }
}

/* Content Add (18/10/2021 1:39) */

.gendersec-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2em auto;
}

.gendersec-card {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gendersec-img {
    width: 310px;
    height: 350px;
    background: url(assets/wallpapertip_colourful-wallpaper_1056898.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin-left: 40px;
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.gendersec-img:hover {
    opacity: 1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.freespace {
    height: 270px;
}

.gendersec-img-content {
    height: 80px;
    background: rgb(73, 143, 143,0.5);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    opacity: 1;
}

/* შეცვალეთ opacity 1-დან 0-ში ,რომ function showgic&hidegic შედეგი იხილოთ */

.gendersec-img-content a {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    text-decoration: none;
    padding: 15px 19px;
    color: black;
    background: #fff;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: transparent;
    transition: 0.4s ease-in-out;
    font-size: 15px;
    opacity: 1;
    /* opacity: 0; */
}

.gendersec-img-content a:hover {
    color: #fff;
    background: rgb(236, 9, 9,0.8);
    transition: 0.4s ease-in-out;
} 

.slider-button:active{
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%,-40%);
}



/* PHOTO-GLR */

.photo-galery-container {
    width: 100%;
    height: 80vh;
    display: grid;
    outline: 1px solid red;
    margin: 10vh auto;
   grid-template-columns: repeat(25,1fr);
   grid-template-rows: repeat(10,1fr);
   /* grid-gap: 20px;  */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    font-size: 30px;
    font-weight: 700;
}

.content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.item6 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item14 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: -23;
    grid-column-end: -17;
}
.item13 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: -17;
    grid-column-end: -14;
}


/* FOOOTER  */

footer {
    background: rgb(219, 209, 209,0.2);
    color: #777777;
    height: 15vh;
    font-size: 18px;
}
.contact-info .fa{
    color: #007bff;
    font-weight: bold;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 30px auto;

}

.contact-info .addresses {
    display: flex;
}

.address1 {
    margin-right: 30px;
}

.contact-info .addresses,
.social {
    flex: 1;
}

.contact-info .fauthor {
    flex: 2;
}

.addresses,
.fauthor,
.social {
    transform: translateY(150%);
}

.header-con {
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;

}

.logocon
.search
 {
    flex: 1;
}


/* SEARCH */

header .search {
    justify-content: flex-end;
}


header .search {
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder {
    color: #fff;
}

header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

/* SEARCH END  */



.header-nav {
    flex: 3;
    margin: auto;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}



.header-items {
    font-size: 22px;
    position: relative;
}

.header-item:hover {
    cursor: pointer;
}

.header-item-1:hover ~ .header-item-1-dropdown,
.header-item-2:hover ~ .header-item-2-dropdown,
.header-item-3:hover ~ .header-item-3-dropdown {
    display: block;
    cursor: pointer;
}

.header-item-2-dropdown,
.header-item-3-dropdown,
.header-item-1-dropdown {
    display: none;
    position: absolute;
    left: -70%;
    top: -50%;
    width: 100px;
    /* height: 200px; */
    background: #fff;
    z-index: 1;
    transform: translateY(30%);
    animation: zoomIn .4s linear;
}


ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

.logocon img {
    width: 40%;
    height: auto;
}

.nav-label {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    user-select: none;
    /* არ ინიშნება */
    cursor: pointer;
}

#nav {
    display: none;
}





/* SLIDER  */

.slider {
    width: 100%;
    height: 420px;
}
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    position: absolute;
    background: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 30px 50px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    animation-name: zoomin;
    animation-duration: 2s;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 10px #423b33;
}



@keyframes zoomin {
    0%{
        top: 80%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: 60%;
    }
}

@keyframes zoomIn {
    0%{
        top: -100%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: -50%;
    }
}

/* Content Add (18/10/2021 1:39) */

.gendersec-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2em auto;
}

.gendersec-card {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gendersec-img {
    width: 310px;
    height: 350px;
    background: url(assets/wallpapertip_colourful-wallpaper_1056898.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin-left: 40px;
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.gendersec-img:hover {
    opacity: 1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.freespace {
    height: 270px;
}

.gendersec-img-content {
    height: 80px;
    background: rgb(73, 143, 143,0.5);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    opacity: 1;
}

/* შეცვალეთ opacity 1-დან 0-ში ,რომ function showgic&hidegic შედეგი იხილოთ */

.gendersec-img-content a {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    text-decoration: none;
    padding: 15px 19px;
    color: black;
    background: #fff;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: transparent;
    transition: 0.4s ease-in-out;
    font-size: 15px;
    opacity: 1;
    /* opacity: 0; */
}

.gendersec-img-content a:hover {
    color: #fff;
    background: rgb(236, 9, 9,0.8);
    transition: 0.4s ease-in-out;
} 

.slider-button:active{
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%,-40%);
}



/* PHOTO-GLR */

.photoheader {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 101;
}

#photo-galery {
    position: relative;
    /* opacity: 1; */
}

.photoheader .fa-camera {
    color: #fff;
    font-size: 3rem;
    transform: translateY(90%);
    padding: 0 15px;
    background: transparent;
}


.photoheader h1 {
    text-align: center;
    color: rgb(255, 255, 255,1);
    padding: 20px 0px;
    margin: 20px auto 45px;
    border: 2px solid white;
    width: 15rem;
    border-radius: 30%;
    letter-spacing: 0.5px;
    font-size: 2rem;
    background: rgba(17, 19, 19, 0.5);
}


.photo-galery-container {
    width: 100%;
    height: 100vh;
    display: grid;
    /* outline: 1px solid red; */
    margin: 10vh auto;
   grid-template-columns: repeat(26,1fr);
   grid-template-rows: repeat(10,1fr);
   grid-gap: 2px; 
   opacity: 1 ;
   ;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    border-radius: 10px;
    background-color: yellow;
    font-size: 30px;
    font-weight: 700;
}

.content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.item6 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item14 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: -24;
    grid-column-end: -17;
}
.item13 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: -17;
    grid-column-end: -14;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 8;
}

.item2 {
    grid-row-start: 4;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 8;
}

.item12 {
    grid-row-start: 16;
    grid-row-end: 21;
    grid-column-start: -1;
    grid-column-end: -4;
}

.item3 {
    grid-row-start: 5;
    grid-row-end: 11;
    grid-column-start: -1;
    grid-column-end: -4;
}

.item11 {
    grid-row-start: 6;
    grid-row-end: 14;
    grid-column-start: -20;
    grid-column-end: -14;
}

.item4 {
    grid-row-start: -3;
    grid-row-end: 21;
    grid-column-start: -14;
    grid-column-end: -4; 
}
.item10 {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 17; 
}
.item5 {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 14;
    grid-column-end: 17; 
}
.item7 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 17;
    grid-column-end: 20;
}

.item8 {
    grid-column-start: 20;
    grid-column-end: 27;
    grid-row-start: 1;
    grid-row-end: 5;
}
.item9 {
    grid-column-start: 17;
    grid-column-end: 24;
    grid-row-start: -7;
    grid-row-end: -3;
}



/* FOOTER  */

footer {
	background-color: rgba(0,0,0,0.651);
	padding: 70px 0;
	line-height: 1.5rem;
    height: auto;
}

.footer-container {
	width: 80%;
	/* background-color: red; */
	margin: auto;
}
.footer-container-row {
	display: flex;
	flex-wrap: wrap;
}

.footer-col {
	width: calc(100%/3);
	/* padding: 0 15px; */
}

.footer-col h4 {
	font-size: 18px;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    margin-left: 2rem;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

ul {
	list-style-type: none;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	color: #FFFFFF;
	font-weight: 300;
	display: block;
	color: #bbbbbb;
	transition: all 0.3s ease-in-out;
}

.footer-col ul li a:hover {
	color: #fff;
	padding-left: 10px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	transition: 0.5s ease-in-out;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #fff;
}

