* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wallpapertip_colourful-wallpaper_1056898.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    background-color: rgb(73, 143, 143,0.5);

}

.header-con {
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;

}

.logocon
.search
 {
    flex: 1;
}


/* SEARCH */

header .search {
    justify-content: flex-end;
}


header .search {
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder {
    color: #fff;
}

header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

/* SEARCH END  */



.header-nav {
    flex: 3;
    margin: auto;
    justify-content: space-around;
}

.header-nav {
    display: flex;
}



.header-items {
    font-size: 22px;
    position: relative;
}

.header-item:hover {
    cursor: pointer;
}

.header-item-1:hover ~ .header-item-1-dropdown,
.header-item-2:hover ~ .header-item-2-dropdown,
.header-item-3:hover ~ .header-item-3-dropdown {
    display: block;
    cursor: pointer;
}

.header-item-2-dropdown,
.header-item-3-dropdown,
.header-item-1-dropdown {
    display: none;
    position: absolute;
    left: -70%;
    top: -50%;
    width: 100px;
    /* height: 200px; */
    background: #fff;
    z-index: 1;
    transform: translateY(30%);
    animation: zoomIn .4s linear;
}


ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

.logocon img {
    width: 40%;
    height: auto;
}

.nav-label {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    user-select: none;
    /* არ ინიშნება */
    cursor: pointer;
}

#nav {
    display: none;
}





/* SLIDER  */

.slider {
    width: 100%;
    height: 420px;
}
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    position: absolute;
    background: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 30px 50px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    animation-name: zoomin;
    animation-duration: 2s;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 10px #423b33;
}



@keyframes zoomin {
    0%{
        top: 80%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: 60%;
    }
}

@keyframes zoomIn {
    0%{
        top: -100%;
        opacity: 0;
    }

    100% {
        /* transform: translate(50%,50%); */
        opacity: 1;
        top: -50%;
    }
}

/* Content Add (18/10/2021 1:39) */

.gendersec-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2em auto;
}

.gendersec-card {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gendersec-img {
    width: 310px;
    height: 350px;
    background: url(wallpapertip_colourful-wallpaper_1056898.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin-left: 40px;
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.gendersec-img:hover {
    opacity: 1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.freespace {
    height: 270px;
}

.gendersec-img-content {
    height: 80px;
    background: rgb(73, 143, 143,0.5);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    opacity: 1;
}

/* შეცვალეთ opacity 1-დან 0-ში ,რომ function showgic&hidegic შედეგი იხილოთ */

.gendersec-img-content a {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    text-decoration: none;
    padding: 15px 19px;
    color: black;
    background: #fff;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: transparent;
    transition: 0.4s ease-in-out;
    font-size: 15px;
    opacity: 1;
    /* opacity: 0; */
}

.gendersec-img-content a:hover {
    color: #fff;
    background: rgb(236, 9, 9,0.8);
    transition: 0.4s ease-in-out;
} 

.slider-button:active{
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%,-40%);
}

/* FOOOTER  */

footer {
    background: rgb(219, 209, 209,0.2);
    color: #777777;
    height: 15vh;
    font-size: 18px;
}
.contact-info .fa{
    color: #007bff;
    font-weight: bold;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 30px auto;

}

.contact-info .addresses {
    display: flex;
}

.address1 {
    margin-right: 30px;
}

.contact-info .addresses,
.social {
    flex: 1;
}

.contact-info .fauthor {
    flex: 2;
}

.addresses,
.fauthor,
.social {
    transform: translateY(150%);
}
